<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Handle requests to the root directory
  RewriteRule ^$ /index.html [L]
  
  # Handle requests to the app's entry point (e.g., '/home' or '/about')
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
